.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.grid-item img {
  width: 100%;
  height: auto;
}
.item1 {
  grid-column: span 2;
  grid-row: span 1.5;
}
.item2 {
  grid-column: span 1;
  grid-row: span 2;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  box-sizing: border-box;
}
.navbar-logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.navbar-logo img {
  height: 50px;
  margin-right: 10px;
}
.navbar-logo span {
  font-size: 24px;
  font-weight: 700;
}
.navbar-menu {
  display: flex;
  gap: 40px;
  flex-grow: 2;
  justify-content: center;
}
.navbar-menu li {
  list-style-type: none;
}
.navbar-menu li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 18px;
}
.navbar-menu li a:hover {
  color: #868b8e;
}
.content {
  flex: 1;
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background-color: #f8f8f8;
  border-top: 1px solid #000;
}
.footer > div {
  flex: 1;
  margin: 0 20px;
}
.footer h3 {
  font-size: 24px;
  font-weight: 700;
}
.footer p {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin: 10px 0;
}
.footer input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
  box-sizing: border-box;
}
.footer input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
}
